@using Entities.Models
@using Entities.ViewModels
@using Entities.ViewModels.Report
@{
    Layout = null;
    int index = 0;
    var service_type = (List<AllCode>)ViewBag.Type;
    List<WSReportTotalViewModel> sum_model = (List<WSReportTotalViewModel>)ViewBag.TotalReport;
    WSReportTotalViewModel summary = (WSReportTotalViewModel)ViewBag.Summary;
}
@if (sum_model != null && sum_model.Any())
{


    <div class="table-responsive table-default table-gray wrap_bg wrap_bg_no-padding  table-scroll table-report" style="max-height:1200px;">
        <table class="table table-nowrap">
            <thead>
                <tr>

                    <th rowspan="2" style="text-align: center; font-weight:bold;">Ngày</th>
                    @{
                        foreach (var type in service_type)
                        {
                            <th colspan="2" style="text-align: center; font-weight:bold;">@type.Description</th>
                        }
                    }
                    <th rowspan="2"style="text-align: center; font-weight: bold;">Tổng doanh thu</th>
                    <th rowspan="2"style="text-align: center; font-weight: bold;">Tổng hoa hồng</th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    @{
                        foreach (var type in service_type)
                        {
                            <th>Doanh thu</th>
                            <th>Hoa hồng</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: yellow; font-weight: bold;">
                    <td >Tổng cộng</td>
                    @{
                        foreach (var type in service_type)
                        {
                            var item_by_service_type = summary.ServicesList.FirstOrDefault(x => x.ServiceType == type.CodeValue);
                            if (item_by_service_type != null && item_by_service_type.ServiceType > 0)
                            {
                                <td style="text-align: right; font-weight: bold;">@(item_by_service_type.Amount.ToString("N0"))</td>
                                <td style="text-align: right; font-weight: bold;">@(item_by_service_type.Commission.ToString("N0"))</td>
                            }
                            else
                            {
                                <td style="text-align: right; font-weight: bold;">0</td>
                                <td style="text-align: right; font-weight: bold;">0</td>
                            }
                        }
                    }
                    <td style="text-align: right; font-weight:bold;">@((summary.ServicesList==null ? 0: summary.ServicesList.Sum(x=>x.Amount)).ToString("N0"))</td>
                    <td style="text-align: right; font-weight:bold;">@((summary.ServicesList == null ? 0 : summary.ServicesList.Sum(x => x.Commission)).ToString("N0"))</td>
                    <td></td>

                </tr>

                @foreach (var item in sum_model)
                {
                    <tr>

                        <td class="date_used">@item.DateUsed.ToString("dd/MM/yyyy")</td>

                        @{
                            foreach (var type in service_type)
                            {
                                var item_by_service_type = item.ServicesList.FirstOrDefault(x => x.ServiceType == type.CodeValue);
                                if (item_by_service_type != null && item_by_service_type.ServiceType > 0)
                                {
                                    <td style="text-align: right;">@(item_by_service_type.Amount.ToString("N0"))</td>
                                    <td style="text-align: right;">@(item_by_service_type.Commission.ToString("N0"))</td>
                                }
                                else
                                {
                                    <td style="text-align: right;">0</td>
                                    <td style="text-align: right;">0</td>
                                }
                            }
                        }
                        <td style="text-align: right;">@((item.ServicesList==null ? 0: item.ServicesList.Sum(x=>x.Amount)).ToString("N0"))</td>
                        <td style="text-align: right;">@((item.ServicesList == null ? 0 : item.ServicesList.Sum(x => x.Commission)).ToString("N0"))</td>
                        <td><a href="javascript:;" style="font-weight:bold;" onclick="_report_ws.Detail($(this))" data-date="@item.DateUsed.ToString("dd/MM/yyyy")">Xem chi tiết</a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="search-null center mb40">
        <div class="mb24">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div>
}