@{
    Layout = null;
    Entities.Models.OtherBooking booking = (Entities.Models.OtherBooking)ViewBag.Booking;
    List<Entities.Models.OtherBookingPackages> list = (List<Entities.Models.OtherBookingPackages>)ViewBag.ExtraList;
    List<Entities.Models.AllCode> list_service = (List<Entities.Models.AllCode>)ViewBag.ServiceType;
    double profit = list != null && list.Count > 0 ? list.Sum(x => (double)x.Profit) : 0;
    double amount = list != null && list.Count > 0 ? list.Sum(x => (double)x.Amount) : 0;
    double commission = list != null && list.Count > 0 ? list.Sum(x => x.Commission!=null?(double)x.Commission:0) : 0;
    int index = 0;
}
<style>
    .service-watersport-packages-note{
        height:80px;
    }
</style>
<table class="table table-nowrap">
    <thead>
        <tr>
            <th style="min-width: 70px;">STT</th>
            <th style="min-width: 300px;">Sản phẩm</th>
            <th class="text-right" style="min-width: 200px;">Đơn giá<sup class="red">*</sup></th>
            <th class="text-right" style="min-width:150px !important;">Số lượng</th>
            <th class="text-right" style="min-width: 300px !important;">Thành tiền giá bán</th>
            <th class="text-right" style="min-width: 300px !important;">Hoa hồng</th>
            <th class="text-center" style="min-width: 400px !important;">Ghi chú</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody class="service-watersport-packages-tbody">

        @if (list.Count > 0)
        {
            foreach (var item in list)
            {
        <tr class="service-watersport-packages-row" data-extra-package-id="@item.Id">
            <td class="service-watersport-packages-order">@(++index)</td>
            <td>
                <select class="select select2 service-watersport-service-type" name="service-watersport-service-type" style="width: 100%;">

                    @{
                        var select_service = list_service.FirstOrDefault(x => x.CodeValue == item.ServiceType);
                        if (select_service != null && select_service.Id > 0)
                        {
                            <option value="@(select_service.CodeValue)" selected="selected">@(select_service.Description)</option>

                        }
                    }
                </select>
            </td>
            @{
                double amount_sale_pre = (double)item.Amount / (double)item.Quantity;
            }
            <td> <input class="form-control text-right currency service-watersport-packages-baseprice" type="text" name="service-watersport-packages-baseprice" value="@(((double)item.BasePrice).ToString("N0"))"></td>
            <td> <input class="form-control text-right currency service-watersport-packages-quantity" type="text" name="service-watersport-packages-quantity" value="@(((int)item.Quantity).ToString("N0"))"></td>
            <td class="text-right"> <input class="form-control text-right currency service-watersport-packages-amount" disabled style="background-color: lightgray;" value="@item.Amount.ToString("N0")"></td>
            <td class="text-right"> <input class="form-control text-right currency service-watersport-packages-commission"  value="@((item.Commission!=null?(double) item.Commission:0).ToString("N0"))"></td>
            <td><textarea class="form-control style-width2 textarea service-watersport-packages-note" >@item.Note</textarea></td>

            <td class="text-right">
                <a class="fa fa-trash-o" href="javascript:;" onclick="_order_detail_watersport.DeletewatersportBookingpackages($(this));"></a>
            </td>
        </tr>
            }
        }
        else
        {
    <tr class="service-watersport-packages-row" data-extra-package-id="0">
        <td class="service-watersport-packages-order">@(++index)</td>
        <td>
            <select class="select select2 service-watersport-service-type" name="service-watersport-service-type" style="width: 100%;">

                @foreach (var allcode in list_service)
                {
                    <option value="@(allcode.CodeValue)">@(allcode.Description)</option>

                }

            </select>
        </td>
        <td> <input class="form-control text-right currency service-watersport-packages-baseprice" type="text" name="service-watersport-packages-baseprice" value=""></td>
        <td> <input class="form-control text-right currency service-watersport-packages-quantity" type="text" name="service-watersport-packages-quantity" value=""></td>

        <td class="text-right"> <input class="form-control text-right currency service-watersport-packages-amount" style="background-color: lightgray;" disabled value=""></td>
        <td class="text-right"> <input class="form-control text-right currency service-watersport-packages-commission"  value=""></td>
        <td><textarea class="form-control style-width2 textarea service-watersport-packages-note"></textarea></td>

        <td class="text-right">
            <a class="fa fa-trash-o" href="javascript:;" onclick="_order_detail_watersport.DeletewatersportBookingpackages($(this));"></a>
        </td>
    </tr>
        }

        <tr class="service-watersport-packages-summary-row">
            <td></td>
            <td>
                <a href="javascript:;" class="blue ml-2 mb10" onclick="_order_detail_watersport.AddwatersportBookingpackages();"><i class="fa fa-plus-circle green"></i> Thêm dịch vụ</a>
            </td>
            <td class="text-right" colspan="2">Tổng cộng</td>
            <td class="text-right font-weight-bold service-watersport-packages-total-amount">@(amount.ToString("N0"))</td>
            <td class="text-right font-weight-bold service-watersport-packages-total-commission">@(commission.ToString("N0"))</td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>


