@{
    Layout = null;
}
@using Entities.ViewModels.OrderManual
@model List<OrderWSExcelImportModel>

@if (Model != null && Model.Any())
{
    var ready_checked = false;
    if (ViewBag.CheckedAll != null) ready_checked = (bool)ViewBag.CheckedAll;

    <div class="table-responsive table-default table-gray table-modal mb20" style="max-height:500px;">
        <table class="table table-nowrap">
            <thead>
                <tr>

                    <th>Mã khách hàng</th>
                    <th>Nhãn đơn</th>
                    <th>Ngày sử dụng</th>
                    <th>Tên khách hàng</th>
                    <th>Số Conf No.</th>
                    <th>Số phòng</th>
                    <th>Số Series</th>
                    <th>Tên sản phẩm</th>
                    <th>Mã Sản phẩm trên hệ thống</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Trước VAT</th>
                    <th>Hoa hồng</th>
                    <th>Ghi chú</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="client_code">@item.client_code</td>
                        <td class="label">@item.label</td>
                        <td class="used_date">@item.used_date.ToString("dd/MM/yyyy")</td>
                        <td class="client_name">@item.client_name</td>
                        <td class="conf_no">@item.conf_no</td>
                        <td class="room_no">@item.room_no</td>
                        <td class="serial_no">@item.serial_no</td>
                        <td class="product_name">@item.product_name</td>
                        <td class="service_type">@item.service_type</td>
                        <td class="quanity">@item.quanity</td>
                        <td class="base_price">@item.base_price</td>
                        <td class="amount">@item.amount</td>
                        <td class="amount_before_vat">@item.amount_before_vat</td>
                        <td class="vat_value">@item.vat_value</td>
                        <td class="note">@item.note</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-right">Tổng cộng:  @Model.Count bản ghi </div>
}
